/* welcome */
* {
    margin: 0;
    padding: 0;
}

/* ``` this is the header ``` */
.HeadPage {
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.HeadTitle {
    padding: 40px;
}

/* ``` this is main ``` */
.MainContent {
    display: flex;
    flex-direction: column;
    background-color: rgb(193, 193, 193);
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

/*todo section 1 */
.FirstSection {
    margin: 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}

.FirstSectionParagraph {
    padding: 15px;
}

/*todo section 2 */
.SecondSection {
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    border-radius: 12px;
}
.SecondSectionParagraf{
    padding: 15px;
}
/*todo section 3 */
.ThirdSection{
    width: 300px;
    height: 150px;
     background-color: rgb(255, 255, 255);
     margin-bottom: 20px;
     border-radius: 12px;
}
.ThirdSectionParagraph1{
padding: 30px 0px 10px 0px;
}
/*todo section 4 */
.FourthSection{
    border: 2px solid black;
     background-color: rgb(255, 255, 255);
     border-radius: 12px;
}
.ThirdSectionParagraph1{
    padding: 20px 20px 20px 10px;
}
.ThirdSectionParagraph2{
     padding: 0px 20px 30px 10px;
}
/* todo section 5 */
.FifthSection{
    margin: 20px;
    padding-top: 20px;
    padding-bottom:50px;
     background-color: rgb(255, 255, 255);
     border-radius: 12px;
}
.FifthSectionParagraph1{
    margin-bottom: 15px;
}
/* todo section 6 */
.SixthSection{
     display: flex;
     flex-direction: column;
     align-items: center;
    

}
.SixthSectionDiv{
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 12px;
}
.SixthSectionParagraph1{
margin-bottom: 10px;
}
/*todo section 7 */
.SeventhSection{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 12px;
}
.SeventhSection:hover{
    background-color: aqua;
}
/*todo section 8 */
.EghithSection{
    background-color: rgb(255, 255, 255);
    text-align: right;
    margin-bottom: 10px;
    border-radius: 12px;

}
.paragraph{
    padding: 10px;
}
/*todo section 9 */
.NinethSection{
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
    padding: 15px 0px;
    border-radius: 12px;
}
.ninthSectionParagraph1{
    margin-bottom: 15px;
}
/*todo section 10 */
.TenthSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TenthSectionDiv{
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-bottom: 20px;
    padding: 15px 0px;
    border-radius: 12px;

}
.tenthSectionParagraph1{
     margin-bottom: 15px;
}
/* ```thi is the footer``` */
.foot{
    text-align: center;
    padding: 50px;
    background-color: rgb(34, 34, 34);
    color: white;
}
