.firstTitle{
    color: red;
}
.secondTitle{
    color: blue;
}
.paragraph{
    background-color: red;
    font-weight: bold;
    font-size: xx-large;
}
.thirdTitle{
    text-decoration: underline;
}
.liste{
    font-style: italic;
}